* {
    box-sizing: border-box;
}
body {
    background-color: rgb(240, 21, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
 }
 .container {
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 300px;
}
.title{
    margin: 0;
}
.subtitle{
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
}
.header{
    background-color: royalblue;
    color: white;
    padding: 30px 20px;
    
}

.header input {
    background-color: blue;
    color: white;
    font-size: 14pt;
    border: 0;
    height: 30px;
    border-radius: 50px;
    width: 100%;
}

.header input:focus{
    outline: none; 
    cursor: ns-resize;
}
.user-list{
    background-color: white;
    list-style-type: none;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;
    padding: 0;
}

.user-list li{
    display: flex;
    padding: 20px;

}

.user-list img{
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.user-list .user-info{
    margin-left: 10px;

}

.user-list .user-info h4 {
    margin: 0 0 10px;
}

.user-list .user-info p {
   font-size: 12px;
}

/* boarder bottom of any list item thats not the last(we dont want to underline the last item) */
.user-list li:not(:last-of-type) {
    border-bottom: 1px solid rgb(241, 229, 237); 
}

.user-list li.hide{
    display: none;
}